@media only screen and (min-width: 800px) {
  .object{
    font: 900 54px "Playfair Display", serif;;
  }
}

@media only screen and (max-width: 800px) {
  .object{
    font: 900 40px "Playfair Display", serif;
  }
}

@media only screen and (max-width: 550px) {
  .object{
    font: 900 20px "Playfair Display", serif;
  }
}

@media only screen and (min-width: 800px) {
  .material{
      font: 800 30px "Open Sans", sans-serif;
  }
}

@media only screen and (max-width: 800px) {
  .material{
      font: 800 20px "Open Sans", sans-serif;
  }
}

@media only screen and (max-width: 550px) {
  .material{
      font: 800 14px "Open Sans", sans-serif;
  }
}

@media only screen and (min-width: 550px) {
  .random{
    right: calc(55% + 18px);
  }
}

@media only screen and (max-width: 550px) {
  .random{
    right: calc(50% - 50px);
  }
}


.container {
  z-index: 1000;
  min-height: 300px;
  max-height: 1200px;
  position: block;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 20px;
/*   display: none; */
}

.left {
  background-color: #fff;
  margin-top: 175px;
  top: 0;
  left: 0;
  right: 55%;
  bottom: 0;
  position: absolute;
}

.right {
  transition: all 2s ease-in-out;
  background-color: #fff;
  top: 0;
  margin-top: 175px;
  left: 45%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.material {
  animation: animate .5s ease-in-out;
  position: absolute;
  right: 15px;
  top: calc(10% - 2px);
  color: #1d2846;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.object {
  animation: animate .75s ease-in-out;
  position: absolute;
  left: 20px;
  letter-spacing: 1px;
  top: 10%;
  color: #f80b4f;
}


@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.random {
  position: absolute;
  text-align: center;
  bottom: 60px;
  width: 100px;
  padding: 6px;
  cursor: pointer;
  font:600 16px "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  background-color: #50C4AD;
  color: #fff;
  font-size: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
  
.random:hover {
    opacity: 0.7;
}



@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity {
  -webkit-animation-name: opacity;
  animation-name: opacity;
}